body {
    background-color: #323148;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    border: 10px;
    padding: 10px;
}

header {
  background: #323148;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 100px;
  font-size: 50px;
}

header a {
  color: white;
  text-decoration: none;;
}

.selected {
    text-decoration: underline;
}

.earth_heading {
    color: white;
    font-size: 96pt;
    margin-left: 150px;
    margin-top: 50px;
    border: 10px;
    padding: 10px;
}

.earth_desc {
    color: white;
    font-size: 20pt;
    text-wrap: wrap;
    margin-left: 150px;
    margin-top: 20px;
    border: 10px;
    padding: 10px;
}

.earth_container {
    display:flex;
    flex-wrap: wrap;
}

.arrow {
    display: flex;
    width: 130px;
    height: 130px;
    margin-left: 120px;
    margin-top: 125px;
}

.earth {
    width: 347px;
    height: 347px;
    display: flex;
    margin-left: 30px;
}

.moon {
    width: 225px;
    height: 225px;
    display: flex;
    margin-left: 150px;
    margin-top: 60px;
}